{%load static%}

    <!-- Logout Modal-->
 <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Report Gen 2022</span>
                    </div>
                </div>
            </footer>
<!-- Bootstrap core JavaScript-->
    <script src="{%static "vendor/jquery/jquery.min.js"%}"></script>
    <script src="{%static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static "vendor/jquery-easing/jquery.easing.min.js"%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static "js/sb-admin-2.min.js"%}"></script>

    <!-- Page level plugins -->
    <script src="{%static "vendor/chart.js/Chart.min.js"%}"></script>
    <script type="text/javascript">
        const fmModels = JSON.parse(`{{ fm_models_serialize | safe }}`)
    </script>
    <script src="{%static "js/fm.js"%}"></script>
    <!--optional polyfill for promise-->
<script src="https://unpkg.com/promise-polyfill/dist/polyfill.min.js"></script>
<!--lib uses jszip-->
<script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
<script src="{%static "node_modules/docx-preview/dist/docx-preview.min.js"%}"></script>
    <!-- Page level custom scripts -->
    <script src="{%static "js/demo/chart-area-demo.js"%}"></script>
    <script src="{%static "js/demo/chart-pie-demo.js"%}"></script>
    <script src="{%static "js/demo/chart-bar-demo.js"%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
